<a href="https://colab.research.google.com/github/Akshitha-7773/30-days-PYTHON/blob/main/DAY_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**TUPLES**

In [1]:
fruits=("apple","banana","cherry","watermelon")
print(fruits)

('apple', 'banana', 'cherry', 'watermelon')

In [3]:
print("first fruit",fruits[0])
print("last fruit",fruits[-1])

first fruit apple
last fruit watermelon

In [4]:
print("firts two fruits",fruits[:2])

firts two fruits ('apple', 'banana')

In [7]:
numbers=(1,2,3,4,5)
print(numbers)
print(len(numbers))
more_numbers=numbers+(6,7,8)
print(more_numbers)
repeat_numbers=numbers*2
print(repeat_numbers)

(1, 2, 3, 4, 5)
5
(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [8]:
person=("Akshitha",20,"CSE")
name,age,branch=person
print(name)
print(age)
print(branch)

Akshitha
20
CSE

In [9]:
colors=("red","blue","green")
for color in colors:
  print(color)

red
blue
green

In [10]:
nested_tuple = (1, 2, (3, 4, 5), 6)
print("Nested tuple:", nested_tuple)

# Access nested element
print("Element inside nested tuple:", nested_tuple[2][1])

Nested tuple: (1, 2, (3, 4, 5), 6)
Element inside nested tuple: 4

#**SETS**

In [11]:
# Creating a set
fruits = {"apple", "banana", "cherry"}
print("Fruits set:", fruits)

# Duplicates are ignored
numbers = {1, 2, 2, 3, 4, 4}
print("Numbers set (duplicates removed):", numbers)

Fruits set: {'cherry', 'apple', 'banana'}
Numbers set (duplicates removed): {1, 2, 3, 4}

In [12]:
colors = {"red", "green", "blue"}

# Adding an element
colors.add("yellow")
print("After adding yellow:", colors)

# Removing an element
colors.remove("green")  # throws error if not found
print("After removing green:", colors)

# Safe removal
colors.discard("purple")  # no error even if not present
print("After discarding purple:", colors)

After adding yellow: {'blue', 'yellow', 'green', 'red'}
After removing green: {'blue', 'yellow', 'red'}
After discarding purple: {'blue', 'yellow', 'red'}

In [13]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

# Union
print("Union:", a | b)

# Intersection
print("Intersection:", a & b)

# Difference
print("Difference a-b:", a - b)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference a-b: {1, 2}