<a href="https://colab.research.google.com/github/Akshitha-7773/30-days-PYTHON/blob/main/DAY_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#creating a dataframe

import pandas as pd
data={
    "name":["aki","riya","sam"],
    "age":[20,34,12],
    "branch":["cse","it","cse"]
    }
df=pd.DataFrame(data)
print(df)
df.to_csv("students.csv", index=False)

   name  age branch
0   aki   20    cse
1  riya   34     it
2   sam   12    cse

In [4]:
# accessing columns & rows
print(df["name"])
print(df.iloc[0])

0     aki
1    riya
2     sam
Name: name, dtype: object
name      aki
age        20
branch    cse
Name: 0, dtype: object

In [5]:
# basic info
print(df.head())
print(df.shape)
print(df.columns)

   name  age branch
0   aki   20    cse
1  riya   34     it
2   sam   12    ece
(3, 3)
Index(['name', 'age', 'branch'], dtype='object')

In [8]:
#read a csv file
df=pd.read_csv("students.csv")
print(df)

   name  age branch
0   aki   20    cse
1  riya   34     it
2   sam   12    ece

In [9]:
# filtering data
print(df[df["age"]>20])

   name  age branch
1  riya   34     it

In [21]:
#add new column
df["grade"]=["a", None,"c"]
print(df)

   name  age branch grade
0   aki   20    cse     a
1  riya   34     it  None
2   sam   12    ece     c

In [22]:
# handle missing values
df.fillna("unknown",inplace=True)
print(df)

   name  age branch    grade
0   aki   20    cse        a
1  riya   34     it  unknown
2   sam   12    ece        c

In [27]:
#group by
print(df.groupby("branch"))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7ca84b0a5d30>

In [29]:
# sorting data
print(df.sort_values(by="age",ascending=False))

   name  age branch
1  riya   34     it
0   aki   20    cse
2   sam   12    cse

In [30]:
logs = {
    "IP": ["192.168.1.1", "192.168.1.2", "192.168.1.1"],
    "Status": ["Failed", "Success", "Failed"]
}

df = pd.DataFrame(logs)
print(df["IP"].value_counts())

IP
192.168.1.1    2
192.168.1.2    1
Name: count, dtype: int64