<a href="https://colab.research.google.com/github/Akshitha-7773/30-days-PYTHON/blob/main/DAY_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**DICTIONARIES**

In [2]:
#creating a dictionary
student={"name":"Akshitha","age":20,"branch":"cse"}

In [6]:
#accessing a dictionary
print(student)
print(student["name"])
print(student["age"])
print(student["branch"])

{'name': 'Akshitha', 'age': 20, 'branch': 'cse'}
Akshitha
20
cse

In [7]:
#add new key-value pair
student["year"]=2023
print(student)

{'name': 'Akshitha', 'age': 20, 'branch': 'cse', 'year': 2023}

In [8]:
student["branch"]="ece"
print(student)

{'name': 'Akshitha', 'age': 20, 'branch': 'ece', 'year': 2023}

In [12]:
#delete elements
d = {"a": 1, "b": 2, "c": 3}
del d["a"]
print(d)

{'b': 2, 'c': 3}

In [18]:
#loop through dictionary
marks = {"math": 90, "science": 85, "english": 92}
for key in marks:
    print(key)
for value in marks.values():
    print(value)
for key,value in marks.items():
  print(key,value)

math
science
english
90
85
92
math 90
science 85
english 92

In [22]:
#count word frequency
sentence = "python is easy and python is powerful"
words=sentence.split()
freq={}
for w in words:
  if w in freq:
    freq[w]+=1
  else:
    freq[w]=1
print(freq)

#other way
from collections import Counter
print(Counter(sentence.split()))

{'python': 2, 'is': 2, 'easy': 1, 'and': 1, 'powerful': 1}
Counter({'python': 2, 'is': 2, 'easy': 1, 'and': 1, 'powerful': 1})

In [25]:
#reverse lookup
grades = {"Aki": 90, "Siri": 88, "Laya": 76}
search_value=88
for name,grade in grades.items():
  if grade==search_value:
    print("for the search_value",search_value,"the name is",name)

for the search_value 88 the name is Siri

In [26]:
#dictionary from two lists
keys = ["name", "age", "city"]
values = ["Aki", 20, "Hyderabad"]

result = {}

for i in range(len(keys)):
    result[keys[i]] = values[i]

print(result)

{'name': 'Aki', 'age': 20, 'city': 'Hyderabad'}

In [27]:
#merge two dictnories
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

d1.update(d2)   # merges d2 into d1

print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
#remove duplicates
data = {"a": 10, "b": 20, "c": 10, "d": 30}

# Step 1: Count frequency of each value
value_count = {}

for v in data.values():
    value_count[v] = value_count.get(v, 0) + 1

# Step 2: Create new dict without duplicate values
result = {}

for key, value in data.items():
    if value_count[value] == 1:   # keep only unique values
        result[key] = value

print(result)

{'b': 20, 'd': 30}