<a href="https://colab.research.google.com/github/Akshitha-7773/30-days-PYTHON/blob/main/DAY_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **FOR LOOP**

In [3]:
for i in range(1,11):
 print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [9]:
n=int(input("enter a number"))
total=0

for i in range(1,n+1):
 total+=i

print("the sum of 1 to", n ,"is",total)

enter a number5
the sum of 1 to 5 is 15

In [10]:
for i in range(1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [11]:
fruits=["apple","banana","cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [4]:
n=int(input('enter a number'))
for i in range(1,11):
 table= (f"{n}X{i}={i*n}")
 print(table)

enter a number5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [16]:
for i in range(3):
  for j in range(3):
     print("*",end="")
  print ()

***
***
***