<a href="https://colab.research.google.com/github/Akshitha-7773/30-days-PYTHON/blob/main/DAY_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:


try:
    x = hello
    y = 20
    print("Sum is:", x + y)
except NameError:
    print("There was a name error!")

There was a name error!

In [7]:
try:
    result = 5 + "10"
    print(result)
except TypeError:
    print(" TypeError: Cannot add number and string")

 TypeError: Cannot add number and string

In [8]:
numbers = [1, 2, 3]

try:
    print(numbers[5])
except IndexError:
    print(" IndexError: Index does not exist in the list")

 IndexError: Index does not exist in the list

In [9]:
student = {"name": "Aki", "age": 19}

try:
    print(student["grade"])
except KeyError:
    print(" KeyError: Key 'grade' not found")

 KeyError: Key 'grade' not found

In [10]:
try:
    num = int("hello")
except ValueError:
    print(" ValueError: Cannot convert 'hello' to integer")

 ValueError: Cannot convert 'hello' to integer

In [11]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print(" ZeroDivisionError: Cannot divide by zero")

 ZeroDivisionError: Cannot divide by zero

In [14]:
try:

    exec("print('Hello'")
except SyntaxError:
    print(" SyntaxError: Invalid or incomplete syntax")

 SyntaxError: Invalid or incomplete syntax